body{
    background-image: linear-gradient(black, black, #000060);
    height: 200vh;
}



.a{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 1200px;
    height: 700px;
background-image: url(https://img-s-msn-com.akamaized.net/tenant/amp/entityid/AA1djrRv.img?w=1400&h=700&m=4&q=79);
}