.box {
    height: 150px;
    width: 1272px;

}
.a {
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
}

.moviepictures{

}    




.b {
    background-color: green;
}

.c {
    background-color: blue;
}

.d {
    background-color: violet;
}












.main {
    width: 1280px;
    background-color: darkgrey;
    position: relative;
    height: 200vh;
    top: 0px;
    left: 0px;
}
